<footer>
  <!-- <main> -->
  <!--   <center> -->
  <!--     <a href="{{ .Site.BaseURL }}">home</a> | -->
  <!--     <a href="{{ .Site.BaseURL }}about">about</a> -->
  <!--   </center> -->
  <!-- </main> -->
  <!--   <main> -->
    <!--     <center> -->
      <!--       <a href="{{ .Site.BaseURL }}about">about</a> | -->
      <!--       <a href="https://github.com/utsavdarlami">github</a> | -->
      <!--       <a href="{{ .Site.BaseURL }}tags">tags</a> | -->
      <!--       <a href="{{ .Site.BaseURL }}index.xml">feed</a> -->
      <!--     </center> -->
    <!--   </main> -->
  <!-- </footer> -->
<!-- </br> -->
<!-- </br> -->
</footer>
