<hr>
<footer>
    <main>
        <!-- <center> -->
            <!--<a href="{{ .Site.Params.issueUrl }}">Raise issues for Discussion on this post..</a>-->
            <!-- </center> -->
            <h3>Comments</h3>
            <script src="https://utteranc.es/client.js"
                    repo="utsavdarlami/blogs"
                    issue-term="pathname"
                    label="comment"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
    </main>


</footer>
