{{ define "main" }}
<main>

    {{ if not .Site.Params.notoc }}
        {{ with .TableOfContents }}
          <div class="toc">
           {{ . }}
           <a href="#" class="back-to-top">Back to top</a>
          </div>
        {{ end }}
        {{ partial "toc_on_side.html" . }}
    {{ end }}

    <p align="right">
      {{ partial "nav.html" . }}
    </p>

  <article>

      <h1>{{ .Title }}</h1>

      <div  style="float:left"><time>Created Date : {{ .Date.Format "2006 January 02" }}</time></div>
      <br>
      <div  style="float:left"><time>Last Modified : {{ .Lastmod.Format "2006 January 02" }}</time></div>
      <hr>

      <div style="">
          tags:
          {{ with .Params.tags }}
          {{ range . }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          {{ end }}
      </div>

      <div style="float:left">
          categories:
          {{ with .Params.categories}}
          {{ range . }}
          <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          {{ end }}
      </div>

      <div>
          {{ .Content }}
      </div>

      <p style="font-size:1.65em;text-align:center">
      {{ if .Prev }}
      <a href="{{ .Prev.RelPermalink }}">&#x21E6;</a>
      {{ end }}
      {{ if .Next }}
      <a href="{{ .Next.RelPermalink }}">&#x21E8;</a>
      {{ end }}
      </p>
      
      <hr>

      {{ partial "backlinks.html" . }}

      {{ partial "issues.html" . }}

  </article>

  <!--{{ partial "sidebar.html" . }}-->

</main>
{{ end }}
