{{ define "main" }}
<main>

    {{ if not .Site.Params.notoc }}
      {{ with .TableOfContents }}
        <div class="toc">
         {{ . }}
         <a href="#" class="back-to-top">Back to top</a>
        </div>
      {{ end }}
      {{ partial "toc_on_side.html" . }}
    {{ end }}

  <article>
    <p align="right">
      <a href="{{ .Site.Params.homeUrl }}">home</a> |
      <a href="{{ .Site.BaseURL }} ">blogs</a> |
      <a href="{{ .Site.BaseURL }}about">about</a> |
      <a href="{{ .Site.Params.githubUrl }}">github</a> |
      <a href="{{ .Site.BaseURL }}tags">tags</a> |
      <a href="{{ .Site.BaseURL }}categories">categories</a> |
      <a href="{{ .Site.BaseURL }}index.xml">feed</a>
    </p>
      <h1>{{ .Title }}</h1>
      <div  style="float:left"><time>{{ .Date.Format "2006 January 02" }}</time></div>
    <hr>

    <div style="">
      tags:
      {{ with .Params.tags }}
      {{ range . }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>

    <div style="float:left">
      categories:
      {{ with .Params.categories}}
      {{ range . }}
      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>

    <div>
      {{ .Content }}
    </div>

    <hr>
    {{ partial "issues.html" . }}

    <p style="font-size:1.25em;text-align:center">
      {{ if .Prev }}
      <a href="{{ .Prev.RelPermalink }}">&#x21E6;</a>
      {{ end }}
      {{ if .Next }}
      <a href="{{ .Next.RelPermalink }}">&#x21E8;</a>
      {{ end }}
    </p>

  </article>
  {{ partial "sidebar.html" . }}
</main>
{{ end }}
